* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  padding: 0.5em 1em 0 1em;
  background-color: #1F2430;
  color: #2f382c;
}

a {
  text-decoration: none;
}

/* margin top */
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mt-3 { margin-top: 3em; }
.mt-4 { margin-top: 4em; }
.mt-6 { margin-top: 6em; }
/* margin top */

/* margin bottom */
.mb-05 { margin-bottom: 0.5em; }
.mb-1 { margin-bottom: 1em; }
/* margin bottom */

/* margin left */
.ml-05 { margin-left: 0.5em; }
.ml-1 { margin-left: 1em; }
.ml-15 { margin-left: 1.5em; }
/* margin left */

/* margin right */
.mr-05 { margin-right: 0.5em; }
/* margin right */

@media (min-width: 1440px) {
  body {
    padding: 0.5em 2em 0 2em;
  }
}