* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  padding: 0 0.5em;
  background-color: #264653;
  color: #e9c46a;
}

.mt-1 {
  margin-top: 1em;
}

.ml-05 {
  margin-left: 0.5em;
}