ul {
  list-style-type: none;
}

.cntMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cntFormAddTask {
  width: 40%;
}

.cntCalendar {
  width: 60%;
  height: 100px;
}

form {
  width: 600px;
  margin: auto;
}

.lblFrmAddTask, .inpFrmAddTask {
  display: block;
  width: 100%;
}

.lblFrmAddTask {
  padding: 0.8em 0 0.8em 0;
}

.inpFrmAddTask {
  padding: 0.8em 0 0.8em 0.5em;
}

.submitFrmAddTask {
  width: 100%;
  padding: 1em 0;
  margin-top: 2em;
  background: transparent;
  background-color: #5353b9;
  border: 1px solid #423b3b;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: all 1s;
}

.submitFrmAddTask:hover {
  background-color: #333333;
}

.header-calendar {
  display: flex;
  justify-content: space-between;
  background: #1abc9c;
  padding: 70px 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.prev, .next {
  cursor: pointer;
}

.weekdays-calendar, .days-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.th-grid {
  text-align: center;
  background-color: #918f8f;
  color: #ffffff;
}

.td-grid {
  text-align: center;
  background-color: #eeeeee;
  padding: 1em 0;
  cursor: pointer;
}

.active {
  background-color: aquamarine;
  color: #000000;
  border: 1px solid #000000;
}