body {
  color: #719663;
}

/* .mainTitle {
  color: #719663;
} */

.cntTools {
  display: flex;
  justify-content: end;
  padding: 0.5em 1em 0.5em;
  border-radius: 0.5em;
}

.selViews {
  background-color: transparent;
  padding: 0.2em 2em;
  border: 1px solid #ffffff;
  border-radius: 0.5em;
  color: inherit;
}

.cntTitleBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.2em;
  border-radius: 1em 1em 0 0;
  background-color: #e63946;
  color: #000000;
}

.taskTitle {
  font-size: 1.2em;
}

.iconTask {
  width: 25px;
  cursor: pointer;
}


.cntTasks {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.cntTask {
  background-color: #2f382c;
  /* color: #9a9fad; */
  width: 100%;
  max-width: 420px;
  border-radius: 1em;
  padding: 0 0 1em 0;
  font-size: 1.1em;
}

.statusSent {
  background-color: #43b934;
}


/* Aqui los estilos de la vista calendario */

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 1200px;
}

.day-header {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #a75656;
}

.day {
  min-height: 100px;
  border: 1px solid #ddd;
  padding: 5px;
  overflow-y: auto;
  position: relative;
}

.day-number {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
}

.day.empty {
  background-color: #dfdddd;
  color: #aaa;
}

.day.today {
  background-color: #23769c;
}

.task {
  margin: 5px 0;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f8f8f836;
  border-left: 3px solid #ccc;
}

.task.sent {
  border-left: 12px solid #4CAF50;
}

.task.pending {
  border-left: 12px solid #d12a14;
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  max-width: 1200px;
}

.calendar-controls button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s ease;
  color: inherit;
}

.calendar-controls button:hover {
  border-color: #999;
  background-color: rgba(216, 5, 5, 0.219);
}

.calendar-controls button:active {
  transform: translateY(1px);
}

/* Aqui los estilos de la vista calendario */

.no-visible {
  display: none;
}

.viewCalendar {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 0.5em;
}

.directionColumn {
  flex-direction: column;
  align-items: center;
}

.mail {
  font-size: 14px;
  font-style: italic;
}