.cntTitleBtns {
  display: flex;
  justify-content: space-between;
}

.taskTitle {
  font-size: 20px;
}

.iconTask {
  width: 30px;
  cursor: pointer;
}


.cntTasks {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.cntTask {
  background-color: #3d372e;
  width: 100%;
  max-width: 420px;
  border-radius: 1em;
  padding: 1em;
}