.cntTitleBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.2em;
  border-radius: 1em 1em 0 0;
  background-color: #b93434;
}

.taskTitle {
  font-size: 1em;
}

.iconTask {
  width: 25px;
  cursor: pointer;
}


.cntTasks {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.cntTask {
  background-color: #3d372e;
  width: 100%;
  max-width: 450px;
  border-radius: 1em;
  padding: 0 0 1em 0;
}

.statusSent {
  background-color: #43b934;
}