<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./styles/general.css">
    <link rel="stylesheet" href="./styles/index.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

  <title>Tasks Online</title>
</head>
<body>
  <h1 class="mainTitle">Administrar Tasks.</h1>

  <main>
    <section>
      <div class="cntMain">
        <div class="cntFormAddTask">
          <form action="#" id="submitFrmAddTask">
            <p class="lblFrmAddTask" for="affairTask">Asunto:</p>
            <input class="inpFrmAddTask" type="text" name="affairTask" id="affair">
            <p class="lblFrmAddTask" for="descriptionTask">Descripcion:</p>
            <input class="inpFrmAddTask" type="text" name="descriptionTask" id="description">

            <p class="lblFrmAddTask" for="mails">Mails:</p>
            <select class="selMails" id="cars" name="mails" size="4" multiple>
              <option class="opMails" value="psalvi@semapi.com.ar">psalvi@semapi.com.ar</option>
              <option class="opMails" value="psalvi@semapi.com">psalvi@semapi.com</option>
              <option class="opMails" value="soportesemapi@gmail.com">soportesemapi@gmail.com</option>
              <option class="opMails" value="pablo_javier_salvi@outlook.com">pablo_javier_salvi@outlook.com</option>
              <option class="opMails" value="albertoaranda@gmail.com">albertoaranda@gmail.com</option>
              <option class="opMails" value="carlosgrappa@ati.com.ar">carlosgrappa@ati.com.ar</option>
              <option class="opMails" value="andresgrappa@ati.com.ar">andresgrappa@ati.com.ar</option>
              <option class="opMails" value="aaranda@ati.com.ar">aaranda@ati.com.ar</option>
            </select>

            <p class="lblFrmAddTask">Repeticion:</p>
            <input type="number" id="numbRepet" class="inpTimeRepet">
            <select class="selTime" id="times" name="times">
              <option class="opTimes" value="dias">dias</option>
              <option class="opTimes" value="meses">meses</option>
              <option class="opTimes" value="anios">años</option>
            </select>

            <input class="submitFrmAddTask" type="submit" value="Cargar tarea">
          </form>
        </div>
        <div class="cntCalendar">
          <div class="calendar">
            <div class="header-calendar">
              <p class="prev" id="btnPrev">&#10094;</p>
              <p id="titleCalendar"></p>
              <p class="next" id="btnNext">&#10095;</p>
            </div>
            <div class="weekdays-calendar">
              <p class="th-grid">Mo</p>
              <p class="th-grid">Tu</p>
              <p class="th-grid">We</p>
              <p class="th-grid">Th</p>
              <p class="th-grid">Fr</p>
              <p class="th-grid">Sa</p>
              <p class="th-grid">Su</p>
            </div>
            <div class="days-calendar" id="daysCalendar">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="./js/index.js"></script>
</body>
</html>