<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="./styles/viewTasks.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="./images/oiler.png" type="image/x-icon">

  <title>Tasks Online</title>
</head>
<body>
  <h1>viewsTasks</h1>

  <div class="cntTareas">
    <div class="tareasPendientes" id="tareasPendientes">
    </div>
    <div class="tareasEjecucion" id="tareasEjecucion">
    </div>
    <div class="tareasFinalizadas" id="tareasFinalizadas">
    </div>
  </div>

  <div class="cntPagination" id="cntPagination">
  </div>

  <script src="./js/data.js"></script>
  <script src="./js/functions.js"></script>
  <script src="./js/viewsTasks.js"></script>
</body>
</html>